<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017857278653-2vgluaq2r6rd5tvc769n4ml88gebbs4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017857278653-2vgluaq2r6rd5tvc769n4ml88gebbs4n</string>
	<key>API_KEY</key>
	<string>AIzaSyD1u9dT7dW9_ZahofqbPen1if8nC1akQLI</string>
	<key>GCM_SENDER_ID</key>
	<string>1017857278653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theaccount.mobileappios</string>
	<key>PROJECT_ID</key>
	<string>the-account-1a8bf</string>
	<key>STORAGE_BUCKET</key>
	<string>the-account-1a8bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017857278653:ios:c763af55b19a63046d6dd4</string>
</dict>
</plist>